* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  position: relative;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.جدول {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.الاسم {
    font-size: 28px;
}
.صلاة_الفجر {
    padding: 10px;
    margin: 20px;
}
.الفجر {
    font-size: 25px;
}
.صليت {
    font-size: 20px;
}
.Reset {
    font-size: 25px;
    margin-right: 340px;
}
.shot {
    text-align: center;
    margin-top: 10px;
}
.خذ {
    margin-bottom: 10px;
}