* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  position: relative;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
p {
  font-size: 70px;
  color: red;
}
